services:
  backend:
    image: razmqtaz/backend:latest
    container_name: backend
    volumes:
      - submissions_data:/app/data
    networks:
      - app-network
  
  frontend:
    image: razmqtaz/frontend:latest
    container_name: frontend
    depends_on:
      - backend
    networks:
      - app-network
    environment:
      - API_URL=http://backend:8000
    
  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - letsencrypt:/etc/letsencrypt
      - certbot-www:/var/www/certbot
    depends_on:
      - frontend
    networks:
      - app-network
  
  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - letsencrypt:/etc/letsencrypt
      - certbot-www:/var/www/certbot
    entrypoint: "/bin/sh -c 'while true; do sleep 12h & wait $${!}; certbot renew --webroot -w /var/www/certbot; done;'"
    networks:
      - app-network
      
networks:
  app-network:
    driver: bridge
volumes:
  submissions_data:
  letsencrypt:
  certbot-www: